body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

a {
  text-decoration: none;
}

span {
  color:#E5E7EB;
}

.header, .footer, .sec-1 {
  background-color: #1f2937;
  color:#E5E7EB;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 180px;
  padding-top: 20px;
}

.header img{
  width: 300px;
}

.top-links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  height: 18px;
}

.top-links a:link {
  color:#E5E7EB;
  text-decoration: none;
  margin: 20px;
}

a:visited {
  color:#E5E7EB;
}

.sec-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 180px;
  padding-bottom: 100px;
}

.sec-1-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sec-1-left h1 {
  font-size: 48px;
  font-weight: 1000;
  color: #f9faf8;
}

.top-sign-button {
  display: block;
  background-color: #3882F6;
  border: 3px solid #3882F6;
  border-radius: 8px;
  padding: 8px 24px;
}

.sec-1 img {
  width: 450px;
}

.sec-2 {
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  text-align: center;
}

.sec-2 h2 {
  font-size: 36px;
  font-weight: 1000;
  color: #1f2937;
}

.middle-links {
  display: flex;
  flex-direction: row;
}

.img-blocks {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  flex-wrap: nowrap;
  width: 250px;
}

.img-blocks img {
  border: 3px solid #3882F6;
  border-radius: 15px;
}

.img-blocks p {
  text-align: center;
}

.sec-3 {
  background-color: #E5E7EB;
  padding: 150px;
}

.quote {
  margin: auto;
  width: 60%;
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
}

.quote-name {
  margin-left: auto;
  width: 30%;
}

.sec-4 {
  padding: 180px;
}

.sec-4-mid {
  padding-block: 50px;
  margin-inline: auto;
  background-color: #3882F6;
  width: 60%;
  border: 3px solid #3882F6;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.sec-4-text {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  justify-content: flex-start;
  color:#E5E7EB;
}

.sec-4-text h4, p {
  margin: 0;
}

.bot-sign-button {
  display: block;
  border: 3px solid white;
  border-radius: 8px;
  padding: 8px 24px;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer p {
  margin: 30px;
}